#containerFullList {
  display: flex;
  gap: 2rem;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
}
#containerFilteredList{
  display: flex;
  gap: 10px;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
}
#containerMain {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 2px;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color:#f1f4f1
}

.tbl {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  border-collapse: collapse;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #222222;
  font-size: small;
}

th {
  border: 1px solid #bbb;
  margin: 4px;
  height: 16px;
  text-align: center;
}

tr {
  border-collapse: collapse;
  text-decoration: none;
  text-align: left;
  vertical-align: middle;
  background-color: #fff;
}

td {
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #bbb;
  margin: 4px;
  width: 20rem;
}

#containerFilteredList table.tbl tbody tr:nth-child(even) {
  background-color: #f1f4f1;
}
.diferente {
  background-color: #f1f4f1;
}

.highlight {
  background-color: rgb(219, 36, 28, 0.5)
}